/* -----------------------------------------------section SOBRE MIM------------------------------------------------ */
.sectionSobreMim {
    padding: 0px 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vw;
}

.minhaFoto {
    margin-left: 3vw;
    background-image: url("../assets/img\ evy.png");
    background-repeat: no-repeat;
    background-size: 375px;
    background-position: -6px -74px;
    border-radius: 100%;
    width: 20%;
    height: 15vw;
}

.maisInfo {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 8vw;
}

.apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.meuNome {
    height: 6vw;
}

.descricao {
    font-size: 25px;
    color: var(--text);
}

.descricao::after {
    content: ":)";
    margin-left: 6px;
}

.descricao.sem-after::after {
    content: "";
}

.nome {
    font-size: 30px;
    color: var(--primary);
}

.nome::after {
    content: ":)";
    margin-left: 10px;
}

.profissao {
    margin-top: 20px;
    color: var(--text);

    height: 1.5vw;
}

.baixarCV {

    height: 4vw;
}

.botaoBaixarCV {
    padding: 10px 20px;
    text-decoration: none;
    border-color: #23007400;
    cursor: pointer;
    font-size: 17px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 15px;
}

.botaoBaixarCV:hover {
    background-color: var(--secondary-hover);
}
@media (max-width: 2440px) {

    .minhaFoto {
        background-size: 419px;
        background-position: -8px -47px;
    }
}

@media (max-width: 2250px) {

    .minhaFoto {
        background-size: 371px;
        background-position: -8px -47px;
    }
}
@media (max-width: 2050px) {

    .minhaFoto {
        background-size: 340px;
        background-position: -8px -47px;
    }
}
@media (max-width: 1920px) {

    .minhaFoto {
        background-size: 313px;
        background-position: -8px -47px;
    }
}

@media (max-width: 1700px) {

    .minhaFoto {
        background-size: 275px;
        background-position: -8px -47px;
    }
}

@media (max-width: 1500px) {

    .minhaFoto {
        background-size: 230px;
        background-position: -8px -47px;
    }
}

@media (max-width: 1300px) {

    .minhaFoto {
        background-size: 199px;
        background-position: -8px -47px;
    }
}

@media (max-width: 1150px) {

    .minhaFoto {
        background-size: 167px;
        background-position: -8px -28px
    }
}

@media (max-width: 1000px) {

    .minhaFoto {
        width: 200px;
        height: 200px;
        background-size: 210px;
        background-position: -8px -28px
    }
}

@media (max-width: 920px) {

    .sectionSobreMim {
        gap: 30px;
        padding: 0px 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 500px;
    }
    .profissao {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .descricao {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .sectionSobreMim {
        padding: 0px 0px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 120vw;
    }

    .minhaFoto {
        background-size: 239px;
        background-position: -9px -43px;
        width: 225px;
        height: 50vw;
        margin-bottom: 40px;
    }

    .descricao {
        font-size: 14px;
    }

    .nome {
        font-size: 18px;
    }

    .botaoBaixarCV {
        font-size: 12px;
    }

    .profissao {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}

/* -----------------------------------------------section SOBRE MIM PARTE 2------------------------------------------------ */
.sectionSobreMim2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vw;
}

.sobreMim {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 70%;
    height: 19vw;
}

.tituloSobreMim {
    font-size: 22px;
    color: var(--primary);
}

.textoSobreMim {
    margin-top: 30px;
    text-align: justify;
    font-size: 16px;
    color: var(--text);
    width: 90%;
    height: 16vw;
}
@media (max-width: 1000px) {
    .sectionSobreMim2 {
        margin-top: 50px;
        height: 440px;
    }
}

@media (max-width: 720px) {
    .sectionSobreMim2 {
        margin-top: 50px;
        height: 640px;
    }
}

@media (max-width: 480px) {
    .sectionSobreMim2 {
        margin-top: 50px;
        height: 640px;
    }

    .tituloSobreMim {
        font-size: 18px;
        color: var(--primary);
    }

    .textoSobreMim {
        text-align: justify;
        font-size: 14px;
    }
}

/* -----------------------------------------------section HABILIDADES------------------------------------------------ */
.sectionHabilidades {
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.habilidades {
    color: var(--primary);
    font-size: 20px;
}

.habilidadesImg {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    height: 16vw;
}

.hab {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.html {
    background-image: url("../assets/html\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;

}

.css {
    background-image: url("../assets/css\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

.js {
    background-image: url("../assets/js\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

.java {
    background-image: url("../assets/java\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

.postman {
    background-image: url("../assets/postman.png");
    background-repeat: no-repeat;
    background-size: 74px;
    background-position: 22px -7px;
    width: 125%;
    height: 45%;
}

.node {
    background-image: url("../assets/node\ img.png");
    background-repeat: no-repeat;
    background-size: 113px;
    background-position: 8px -10px;
    width: 125%;
    height: 45%;
}

.docker {
    background-image: url("../assets/docker.png");
    background-repeat: no-repeat;
    background-size: 122px;
    background-position: 2px -10px;
    width: 125%;
    height: 45%;
}

.figma {
    background-image: url("../assets/figma\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

.bootstrap {
    background-image: url("../assets/bootstrap\ img.png");
    background-repeat: no-repeat;
    background-size: 109px;
    background-position: 10px -10px;
    width: 125%;
    height: 45%;
}

.dbeaver {
    background-image: url("../assets/dbeaver\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

.react {
    background-image: url("../assets/react\ img.png");
    background-repeat: no-repeat;
    background-size: 137px;
    background-position: -7px -10px;
    width: 125%;
    height: 45%;
}

@media (max-width: 1460px) {
    .sectionHabilidades {
        height: 960px;
    }

    .habilidadesImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: 800px;
    }

    .html {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .css {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .js {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .java {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .postman {
        background-position: 16px -5px;
        width: 100px;
        height: 2000px;
    }
    .node {
        background-position: 5px 1px;
        width: 100px;
        height: 2000px;
    }
    .docker {
        background-position: -4px -10px;
        width: 100px;
        height: 2000px;
    }
    .figma {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .bootstrap {
        background-position: 1px -10px;
        width: 100px;
        height: 2000px;
    }
    .dbeaver {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }
    .react {
        background-position: -15px -10px;
        width: 100px;
        height: 2000px;
    }

}
@media (max-width: 720px) {
    .sectionHabilidades {
        height: 1060px;
    }

}
@media (max-width: 480px) {
    .sectionHabilidades {
        height: 960px;
    }
    .habilidadesImg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: 800px;
    }
    .habilidades {
        font-size: 18px;
    }
    
}

/* -----------------------------------------------section CONTATOS------------------------------------------------ */
.sectionContato {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 26vw;
}

.contato {
    color: var(--primary);
    font-size: 20px;
}

.contatoImg {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 16vw;
}

.ctt {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.ctt:hover {
    transform: scale(1.1);
}

.pImgCtt {
    font-size: 20px;
    color: var(--text);
}

.email {
    font-size: 13px;
    color: var(--text);
}

.telefone {
    font-size: 13px;
    color: var(--text);
}

.link {
    font-size: 13px;
    color: var(--text);
}

.git {
    font-size: 13px;
    color: var(--text);
}
@media (max-width: 720px) {
    .sectionContato {
        height: 1000px;
    }
    .contato {
        color: var(--primary);
        font-size: 18px;
    }
    .contatoImg {
        gap: 120px;
        align-items: center;
        flex-direction: column;
    }
    .telefone {
        width: 111px;
    }
}

@media (max-width: 480px) {
    .sectionContato {
        height: 700px;
    }
    .contato {
        color: var(--primary);
        font-size: 18px;
    }
    .contatoImg {
        gap: 120px;
        align-items: center;
        flex-direction: column;
    }
    .pImgCtt {
        font-size: 14px;
    }
    .email {
        font-size: 12px;
    }
    .telefone {
        width: 101px;
        font-size: 12px;
    }
    .link {
        font-size: 12px;
    }
    .git {
        font-size: 12px;
    }
}

/* -----------------------------------------------section PROJETOS------------------------------------------------ */
.galeria {
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projetos {
    font-size: 20px;
    color: var(--primary);
}

.fileira {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.item img {
    width: 350px;
    height: 200px;
    cursor: pointer;
}

.item p {
    width: 350px;
    font-size: 16px;
    color: var(--text);
}

.button {
    padding: 10px 20px;
    border-color: #23007400;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 15px;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .galeria {
        width: 100%;
        height: 2500px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .fileira {
        gap: 60px;
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .galeria {
        width: 100%;
        height: 2500px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .fileira {
        gap: 60px;
        flex-direction: column;
    }
    .item p {
        font-size: 14px;
        color: var(--text);
    }
    .button {
        padding: 7px 16px;
        border-color: #23007400;
        cursor: pointer;
        font-size: 12px;
        background-color: var(--secondary);
        color: var(--text);
        border-radius: 15px;
        text-decoration: none;
    }
}
/* -----------------------------------------------section CERTIFICADOS------------------------------------------------ */

.certificados {
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.certificado {
    font-size: 20px;
    color: var(--primary);
}
@media (max-width: 1000px) {
    .certificados {
        height: 1200px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
}

@media (max-width: 480px) {
    .certificados {
        height: 1200px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .certificado {
        font-size: 18px;
    }
}
